<%- model_class = Keyword -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:total_links) %></th>
      <th><%= model_class.human_attribute_name(:result_stats) %></th>
      <th><%= model_class.human_attribute_name(:top_ads) %></th>
      <th><%= model_class.human_attribute_name(:right_ads) %></th>
      <th><%= model_class.human_attribute_name(:total_ads) %></th>
      <th><%= model_class.human_attribute_name(:non_ads_results) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.id %></td>
          <td><%= keyword.title %></td>
          <td><%= keyword.total_links %></td>
          <td><%= keyword.result_stats %></td>
          <td><%= keyword.top_ads %></td>
          <td><%= keyword.right_ads %></td>
          <td><%= keyword.total_ads %></td>
          <td><%= keyword.non_ads_results %></td>
        <td><%=l keyword.created_at, format: :long %></td>
        <td>
          <%= link_to keyword_path(keyword), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
          <%- end -%>
          <%= link_to keyword_path(keyword), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_keyword_path,
            :class => 'btn btn-primary' %>
