<%- model_class = Keyword -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>



<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              keywords_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_keyword_path(@keyword), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              keyword_path(@keyword),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:title) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.title %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:total_links) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.total_links %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:result_stats) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.result_stats %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:top_ads) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.top_ads %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:right_ads) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.right_ads %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:total_ads) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.total_ads %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:non_ads_results) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.non_ads_results %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:non_ads_urls) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.non_ads_urls %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:top_ads_urls) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.top_ads_urls %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:right_ads_urls) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.right_ads_urls %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:result_page) %></dt>
      <dd><pre class="prettyprint"><%= @keyword.result_page %></pre></dd>
  </dl>
</div>